@import url('reset.css');
@import url('skeleton.css');
@import url('panel.css');
@import url('flexslider.css');
@import url('isotope.css');
@import url('twitter.css');
@import url('jquery.fancybox-1.3.4.css');
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

body, html{width: 100%;height: 100%;}

#main_bg {
  width:100%;
  height:100%;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.glow {
  background: url('../images/body_glow.png') 50% 0 repeat-y;
  position: fixed;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0px 45px 39px -5px rgb(173, 173, 173);
}

.main_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color:#000;
  font-size: 15px;
  line-height:21px;
  min-height:100%;
  width:100%;
  height:100%;
  overflow:hidden;
  background-repeat: repeat;
  position: relative;
  background-color: rgb(165, 163, 163);
}

.main {
  margin:0px auto 0 auto;
 	width: 942px;
  z-index:2;
  height:100%;
}
.spinner {
  position:fixed;
  background:#b4b4b4;
  z-index:9999;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.spinner > span{position: absolute; left: 50%; top: 50%;}

.spinner{width: 100%;height: 100%;background-color: #000;}
a{ color:#fff; text-decoration:none; outline:none;}
a:hover{ color: #fff;}


.m_bottom_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bottom_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {width:100%;overflow:hidden}
.extra_wrapper{ overflow:hidden;}
.container{width:100%}
.extra_last, .last{ margin-bottom:0 !important; padding-bottom:0 !important;}
.extra_last{ border:none !important; background:none !important;}
.bg_none{ background:none !important;}
.m_zero{margin: 0 !important;}

/* ============================= header ============================ */
header {
  position: relative;
  z-index: 3;
  padding-top: 3em;
}
header h1{
  float:left;
  position: relative;
  width: auto;
  padding-top: 8em;
}
header .description{
  top: 7em;
  width: auto;
  left: 18em;
  opacity: 1;
  display: block;
  position: absolute;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: url('../images/description_bg.png') repeat;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;border-radius: 8px;
}

header .description:before {
  width: 18px;
  height: 24px;
  display: block;
  position: absolute;
  left: -18px;
  top: 19px;
  background: url('../images/description_bef.png') no-repeat;
  content: "";
}

header .description .inner {
  padding:  11px 20px 13px;
}

.hide_text{
  opacity: .7;
  z-index: -10;
  font-size: 20em;
  color: rgb(31, 110, 226);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 8px rgba(0, 0,0,0.5);
}

.menu{
  position:relative;
  z-index:1;
  display: block;
  float: right;
}

.menuHolder {
  position: relative;
  z-index: 1;
  margin-right: -3px;
  float: right;
  display: inline-block;
  overflow: hidden;
  top: -3em;
}

#menu {
  z-index:3;
  position:relative;
  padding-top: 13px;
  display:block;
  float: left;
}

#menu > li{position:relative; color: #acb1b3;float: left;margin-left: 6px;width: 140px;}
#menu > li > a{display: block;  position:relative; z-index: 1;overflow: hidden; font-size: 18px; line-height: 24px; color: #acb1b3;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;margin: 0 3px 0 0;padding: 10px 0 16px 50px;box-shadow: 4px 4px 0 rgba(0,0,0,0.45), inset 0 0 0 1px rgba(2,11,23,0.7);}

#menu>li>a em{width: 30px;height: 30px;position: absolute;top: 11px;left: 15px;z-index: 99;content: "";}
#menu > li > a strong{display: block;position: absolute;left: 0;top: 0;width:100%;height: 100%;background: #000;opacity: 0.60;-webkit-border-radius: 6px;
-moz-border-radius: 6px;border-radius: 6px;}
#menu>li>a span{display: inline-block;position: relative;z-index: 10;}
#menu>li.active a strong, #menu > li > a:hover strong{opacity: 0.75;}
#menu>li.active a, #menu>li>a:focus{box-shadow: none;margin: 4px 0 0 0;}
#menu>li.active a, #menu > li > a:hover{color: #f2f2ea;}

#menu .about_link a em{background: url('../images/about_icon.png') no-repeat;}
#menu .port_link a em{background: url('../images/port_icon.png') no-repeat;}
#menu .contact_link a em{background: url('../images/contact_icon.png') no-repeat;}

/*================================>> Splash menu <<========================================*/

.splashHolder {
  margin-top: 5em;
  position: absolute;
  display: block;
  padding-left: 10em;
}
.splash_menu {
  z-index: 1;
  position:relative;
  margin-top: 3em;
  display: block;
}
.splash_menu> li{position:relative; color: white;  text-align: left; display: inline-block; width: 216px; height: 216px;padding-bottom: 4px;}
.splash_menu > li > a{display: block;position:relative;z-index: 1;overflow: hidden;background: url('../images/splash_link.png') repeat;border-radius: 6px;box-shadow: 5px 5px 0 rgba(0,0,0,0.30), 0 0 0 1px rgba(0,0,0,0.7);margin:  1px 4px 4px 2px;font-size: 22px; line-height: 27px; color: rgb(124, 152, 240);text-align: center;padding: 61px 0 58px;overflow: hidden;}
.splash_menu > li > a:hover{text-decoration:none;color: #e5e5de;}
.splash_menu > li > a:focus{margin: 6px 0 0 7px;box-shadow: none;}
.splash_menu>li>a strong{display: block;position: absolute;width: 0;height: 0;left: 50%;top: 50%;background: url('../images/splash_link_h.png') repeat;border-radius: 6px;}
.splash_menu>li>a:hover strong{left: 0;top: 0;height: 100%;width: 100%;opacity: 0.73;}

.splash_menu>li>a span{display: inline-block;position: relative;z-index: 10;}
.splash_menu .menu_icon{display: block;position: relative;z-index: 10;margin-bottom: 8px;}

.splash_menu>li>a strong, #logo, body, .filter_box a, .skill_set, .tweet_list li,  ul#portfolio-list li a .description {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content > ul, #content {
  margin-top:14em;
  margin-left: 4em;
  font-size: 17px;
  position:relative;
}

p {margin-bottom:21px}
.p2{ margin-bottom:10px;}
.p3{ margin-bottom:15px;}

strong{font-weight:500;}


h2,h3,h4{ font-weight:normal;}
h2{font-size: 20px; line-height: 24px; color:#000; font-weight:500;letter-spacing: 0px;margin-bottom: 14px;}

h2.ind{ margin-bottom:18px;}
h2.ind1{ margin-bottom:15px;}

h3{font-size: 15px; line-height: 21px; color:#000; font-weight: 500;}

h4{font-weight: 300;font-size: 14px;}
.gray1 {
  color: #3e3e3e;
}
.icons {
  overflow: hidden;
  position: absolute;
  padding: 10px 20px 10px 15px;
  top: -5px;
  display: none;
  width: auto;
  height: 32px;
  border-radius: 8px;
  background: url('../images/icons_bg.png') repeat;
  z-index: 1;
  right: 0;
}
.icons a{display: none;float: left;width: 32px;height: 32px;overflow: hidden;margin-right: 3px;}
.icons a:hover img{margin-top: -32px;}
#github {
  width: 2em;
  /*background-color: rgb(233, 233, 233);*/
  border-radius: 50%;
}
#github img {
  width: 2rem;
}
#github img:hover {
  margin-top: 0;

}

#about {
  margin-top: 10em;
}

#back {
  display: none;
  position: absolute;
  top: 2em;
}

